//Color palettes:

//Light mode: 
$color1: #56bfb5;
$color2: #97d0cb;
$color3: #38817a;
$color4: #f5f093;
$color5: #fbd66f;
$color6: #e4b127;

//Dark mode:
$color7: #f4abc4;
$color8: #595b83;
$color9: #333456;
$color10: #060930;

//Fonts
$fontTitle:'Roboto Slab', serif ;
$fontP: 'Source Sans Pro', sans-serif;
$fontPTwo:  'Nunito', sans-serif;
